<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>白名单联想词关键字</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/script/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/script/bootstrap-fileinput/css/fileinput.css">
    <link rel="stylesheet" href="../../static/script/jqGrid/css/ui.jqgrid.css">
    <script src="../../static/script/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../static/script/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../../static/script/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../../static/script/bootstrap-fileinput/js/locales/zh.js"></script>
    <script src="../../static/script/jqGrid/js/jquery.jqGrid.js"></script>
    <script src="../../static/script/jqGrid/js/i18n/grid.locale-cn.js"></script>
</head>
<body>
HELLO,WORLD
</body>
</html>